@import '/global.scss';

.EPGListView {
  width: 100%;
  height: 100vh;
  background: url('../../mockups/epg.png') no-repeat;
  background-size: contain;

  @include media(phablet) {
    background-image: url('../../mockups/EPG_small.png');
  }
}

.clock {
  background: white;
  padding: 10px;
  color: black;
  font-family: sans-serif;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
