@import '../global.scss';

.EPGListView {
  width: 100%;
  height: 100vh;

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.EPGListView {
  background: none;
}

.clock {
  background: white;
  padding: 10px;
  color: black;
  font-family: sans-serif;
  text-align: center;
}
